.header {
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: sticky;
    top: 0;
}

.headerContent {
    background-color: var(--mainColor);

    display: flex;
    justify-content: center;
    align-items: center;

    height: auto;
    width: 90%;
    border-radius: 15px 15px 50px 50px;
}

.bottone {
    margin: 1.5%;
    font-size: 2vw;
    text-decoration: none;
}

.bottone:hover {
    color: var(--hoverColor);
    cursor: pointer;
    text-decoration: none;
}

